/* * {
  border: 1px solid gold;
} */

:root {
  --color-bg: #0e0e0e;
  --color-fg: rgb(217, 217, 217);
  --color-card: rgba(77, 77, 77, 0.1);
  --color-subtitle: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: rgb(255, 247, 247);
    --color-fg: #0e0e0e;
    --color-card: rgba(77, 77, 77, 0.1);
    --color-subtitle: rgba(0, 0, 0, 0.1);
  }
}


body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  justify-content: center;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

#welcome {
  max-width: 900px;
  text-align: center;
  margin: 15vh auto 60px;
}

#intro {
  font-size: medium;
  padding: 10px 20px;
}

#about {
  font-size: medium;
  padding: 10px 20px;
  background-color: var(--color-card);
}

#about-text {
  background-color: var(--color-card);
  padding: 20px;
}

#subtitle {
  position: absolute;
  font-size: 120px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: heavy;
  /* left: 30%; */
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--color-subtitle);
}

h1 {
  font-size: 33px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  padding: 20px;
  margin: auto;
  line-height: 1.5;
  justify-content: center;
  align-content: center;
}

.blog-content {
  padding: 5px;
}

.blog-title {
  font-size: 18px;
}

.blog-item {
  background-color: var(--color-card);
  padding: 20px;
  text-align: left;
  justify-items: left;
}

a {
  text-decoration: none;
  color: rgb(0, 171, 114);
}

a:hover {
  text-decoration: underline;
}

.profile-link {
  text-decoration: none;
  color: rgb(0, 171, 114);
  padding: 10px;
}

.anchor {
  padding-top: 20vh;
}