{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/> 
  <script src="{% static 'app.js' %}"></script>
  <title>Blog</title>
</head>
<body>
  <header id="welcome">
    <h1>Hi, I'm Adriaan</h1>
    <div id='subtitle'>#100daysofcode</div>
    <p id="intro">I'm an enthusiastic web developer taking on the #100daysofcodechallenge and attemptign significant barriers in my skills growth curve. Read more about my goals in the <a href="#about-text">about section</a>.

    </p>
    <section id="links-info">
      <div id="profile-info">
        <a class="profile-link" href="https://github.com/abmakes" target="_blank"><span>Github</span></a>
        <a class="profile-link" href="https://codepen.io/abmakes" target="_blank"><span>Codepen</span></a>
        <a class="profile-link" href="https://twitter.com/adriaanl3" target="_blank"><span>Twitter</span></a>
      </div>  
    </section>
  </header>

  <main id="blog-posts" >
    <div id="github-posts"></div>  

    </section id="about" class="anchor">
      <h1>About</h1>
      <div id="about-text">
        <p>I'm a web developer who is working on learning everything needed to build full stack web applications. Currently I am using Django, HTML, Javascript, Bootstrap and CSS.</p> 
        <p> During the next 100 days I will focus on improving my frontend skills through building several single page sites using React and several web services, learning new CSS animation and design skills, and working towards building a portfolio website as well as two larger projects.</p>

        <span>Projects and goals</span>
        <ul>
          <li>Build a protfolio website</li>
          <li>Build a crypto trade signal and trade journal app</li>
          <li>Build multiple single page sites</li>
          <li>Learn React</li>
          <li>Learn ChartJS</li>
          <li>Improve CSS and animation skills</li>
          <li>Interact with the #100daysofcode communtiy daily</li>
        </ul>
      </div>
    </section>
  </main>

</body>
</html>